body {
	margin: 0;
	font-family: "DM Sans", "Roboto", "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: visible;
}

code {
	font-family: "DM Sans", "Roboto", "Montserrat", sans-serif;
}
